# UI test workflow
# https://docs.github.com/en/actions/writing-workflows

name: UI

on:
  push:
    branches:
      - main
      - v2
  pull_request:
    branches:
      - main
      - v2

concurrency:
  group: ui-${{ github.ref }}
  cancel-in-progress: true

jobs:
  ui:
    name: UI Tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Setup Go
        uses: ./.github/actions/setup-go

      - name: Run UI tests
        run: make test-ui
